@CHARSET "utf-8";

@media all and (max-width:736px) {

/* reset.css - 브라우저 스타일 초기화 - 장영석 수정*/
/* 모든 요소 공간 0, 서체 크기 100%, 세로정렬 baseline, 배경색 투명 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: middle;
	line-height:150%;
	background: transparent;
}



/* HTML5 새 요소 초기화 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

/* 본문 기본 설정, 리스트 블릿 제거, 인용 구문 제거 */
body { 
	font: 12px/1.5 "나눔 고딕", "Nanum Gothic", 돋움, Dotum, Sans-Serief; 
	color: #323232; 
	}
	/* 영문 설정 */
	.lang-en, :lang(en) { font: 12px/1.5 "Helvetica Neue", Helvetica, Verdana, Arial, Sans-Serief; }
	
/* 목록 및 인용 */
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

/* hr 제거 */
hr { display: none; }

/* img를 포함한 a요소의 보더, 패딩 초기화 설정 */
a img {
	border: 0; 
	padding: 0;
}


/* 테이블 설정 */
table {
	width: 100%;
	border-collapse:collapse;
	border-spacing: 0;
	table-layout: fixed;
}
th, td { 
	text-align: left; 
}
caption { 
	display:none;
}

/* input 타입 설정 */
input,select { vertical-align:middle;}

legend {display:none;}

a {text-decoration:none; color:#000;}

/*---------------------------------------------------------------- */
    
    
    
* { font-family: 'ngeot', '돋움', 'Dotum'; list-style: none; color:#000; margin: 0; padding: 0;}
a { text-decoration: none; cursor: pointer;}
li { font-size: 12px;}
input, select { padding-top: 0px; vertical-align: middle;}
input[type="text"], input[type="password"] {padding:6px 0}
select {height:26px}
th{font-weight: normal;}
img{border-style: none}

body { width: 100%; min-width: 320px; overflow-y: scroll;}

.m_hide {display:none}

/* 상단 글로벌메뉴 */
.gnb {position: relative; width:100%; height: 100%; margin:0 auto; line-height: 26px;}
.gnb h1 {float:none; width: 150px; margin: 0 auto}
.gnb h1 a img{border: 0 none;}
.gnb .nav_wrap{overflow: hidden; padding-bottom: 5px;}
.gnb .gnb_ul { width:100%; margin: 0px;}
.gnb .gnb_ul li {float: left;width: 20%;  background: url("../image/bg/icon_bar.gif") no-repeat right center;}
.gnb .gnb_ul li:first-child {margin-left: 0; margin-right: 0px}
.gnb .gnb_ul li:last-child {background: none;}
.gnb .gnb_ul li:hover{color:#1E81A1;}
.gnb .gnb_ul li a {display:inline-block; width: 100%; font-family: 'ngeot'; font-size: 0.7em; font-weight: bold; text-align: center; }
.log{overflow: hidden;}
.log ul {margin-left:10px;}
.log ul li {float: left; margin: 18px 5px 0;}
/* 모바일 gnb */
.gnb .m_nav_wrap { background:#333; position:absolute; top:0; left:0; width:100%; min-height:100vh}
.gnb .m_nav_wrap .m_gnb_ul {padding-top: 60px}
.gnb .m_nav_wrap .m_gnb_ul ul li {color:#fff; font-size:1.5rem; border-bottom: 1px solid #1E81A1;}
.gnb .m_nav_wrap .m_gnb_ul ul li a {color:#fff; font-size:1.5rem; display: block; padding:10px}
.gnb .m_nav_wrap .m_gnb_ul ul li.last {color:#fff; font-size:1.5rem}
.gnb .m_nav_wrap .m_gnb_ul ul li ul {display: none}
.gnb .m_nav_wrap .m_gnb_ul ul li ul li {background:#1E81A1; border-bottom:none;}
.gnb .m_nav_wrap .m_gnb_ul ul li ul li a {color:#fff; font-size:1.25rem; display: block; padding:10px}

.gnb div.burger {
 display:block;
 height: 30px; 
 width: 40px;
 position: absolute;
 top: 6px; 
 left: 10px;
 cursor: pointer;
 z-index:11
}
div.x,
div.y,
div.z {
  position: absolute; margin: auto;
  top: 0px; bottom: 0px;  
  background: #333;
  border-radius:2px;
  -webkit-transition: all 200ms ease-out;
     -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
       -o-transition: all 200ms ease-out;
          transition: all 200ms ease-out;
}  
div.x, div.y, div.z {
  height: 3px;
  width: 26px;
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
      -ms-transition: all 100ms ease-out;
       -o-transition: all 100ms ease-out;
          transition: all 100ms ease-out;
}
div.y.squize{
  width:0;
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
      -ms-transition: all 100ms ease-out;
       -o-transition: all 100ms ease-out;
          transition: all 100ms ease-out;
}
div.y{top: 18px;}
div.z{top: 37px;} 
div.open div.x, div.open div.z{
        background: #fff;
  top:19px;
  -webkit-transition: all 70ms ease-out;
     -moz-transition: all 70ms ease-out;
      -ms-transition: all 70ms ease-out;
       -o-transition: all 70ms ease-out;
          transition: all 70ms ease-out;
}
div.rotate30{  
  -ms-transform: rotate(30deg); 
     -webkit-transform: rotate(30deg); 
     transform: rotate(30deg); 
  -webkit-transition: all 70ms ease-out;
     -moz-transition: all 70ms ease-out;
      -ms-transition: all 70ms ease-out;
       -o-transition: all 70ms ease-out;
          transition: all 70ms ease-out;     
}
div.rotate150{
  -ms-transform: rotate(150deg); 
     -webkit-transform: rotate(150deg); 
     transform: rotate(150deg); 
  -webkit-transition: all 70ms ease-out;
     -moz-transition: all 70ms ease-out;
      -ms-transition: all 70ms ease-out;
       -o-transition: all 70ms ease-out;
          transition: all 70ms ease-out;     
} 
div.rotate45{
  -ms-transform: rotate(45deg); 
     -webkit-transform: rotate(45deg); 
     transform: rotate(45deg); 
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
      -ms-transition: all 100ms ease-out;
       -o-transition: all 100ms ease-out;
          transition: all 100ms ease-out;     
}
div.rotate135{
  -ms-transform: rotate(135deg); 
     -webkit-transform: rotate(135deg); 
     transform: rotate(135deg); 
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
      -ms-transition: all 100ms ease-out;
       -o-transition: all 100ms ease-out;
          transition: all 100ms ease-out;     
 }


/* 상단 서브메뉴 */
.gnb .sub_nav {top: 103px; left: 0px; padding-left: 0px; width:100%;}
.gnb .sub_nav ul{ float: left; width: 20%; height: 330px; }
.gnb .sub_nav ul:first-child{ margin-left: 0px;}

.log{overflow: hidden;}
.log ul {margin-left:10px;}
.log ul li {float: left; margin: 18px 5px 0;}


#content {min-width: 320px; width:100%; margin: 0 auto;}
#container {min-width: 320px; width:100%; margin: 0 auto;}
#tabs {width: 100%; padding: 0;}
    
/* 좌측 메뉴 */
.nav {display:none; float: none; height: auto; width: 100%; margin-bottom: 25px;}


#contents {width: 100%; margin: 0px;}
#contents h3 { padding: 15px 40px; margin:0; border-top: 1px solid #eee; font-size:1.7em}


/* 테이블의 초기화 */
table {border-collapse:collapse; border-spacing:0; font-size:12px; font-style:normal;}
caption {position: absolute; top:-9999px; font-size:0px; line-height:0px; width:0px; height:0px;}/* 장애인을 위한 caption 숨기기 */

/* 테이블의 스타일 적용 */
table {text-align:center; width:100%;}
table th {background:#e9f4f2; border:1px solid #a9a9a9; padding:5px 0;text-align: center}
table td {border:1px solid #a9a9a9; padding:0;}


/* 버튼 */
.btn_both{overflow:hidden;clear:both;width:100%}
.btn_both .fl{float:left}
.btn_both .fr{text-align:center; margin-bottom: 20px; margin:0 auto}
a.btn_big{display:inline-block;padding-right:4px;background:url(http://static.naver.com/groupware/2010/bg_btn_default.gif) no-repeat 100% 0;font-family:'돋움',dotum;font-size:12px;color:#444;line-height:26px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}
a.btn_big span,a.btn_big strong{display:block;padding:1px 8px 0 12px;background:url(http://static.naver.com/groupware/2010/bg_btn_default.gif) no-repeat}
a.mybtn{padding:4px; background: #294C97; color:#fff; border-radius: 3px;behavior : url(css/PIE-1.0.0/PIE.htc); font-size: 12px; vertical-align:middle}
input[type="text"] {vertical-align: middle}

/* 레이어 스타일 */
.ly_pop{display:none;position:absolute;left:40%;top:100px;filter:alpha
(opacity=80);vertical-align:middle;text-align:center;z-index:1000;padding:20px 20px 0;border:1px solid #888;background:#fff}
.ly_pop h1{margin-bottom:8px;color:#2c2c2c;letter-spacing:-1px;line-height:20px}
.ly_pop .desc{color:#606060;font-size:12px;line-height:20px;text-align: center}
.ly_pop .desc em{color:#268e00}
.ly_pop .btn{clear:both;margin-top:17px;padding:10px 0;border-top:1px solid #e5e5e5;text-align:center}
.ly_pop .btn img{vertical-align:top}
.ly_pop .clse{position:absolute;top:8px;right:8px}


/*0290, 0200*/

.srch {width:100%; min-width: 320px; height: auto; overflow: hidden}
.srch .srch-inner ul {}
.srch .srch-inner ul li {text-align: left;}
.srch .srch-inner ul li span {width: 63px; display: inline-block; text-align: center;}
.srch .srch-inner ul li input[type="text"] {width:auto}
.srch .srch-inner ul li select {width:20%}

input[type="checkbox"] {vertical-align: middle; margin-right: 3px;}

.srch-inner a.btn-rslt {float: right; width: 40px; height: 18px; margin-right: 5px; font-weight: bold; text-align: center; line-height: 20px; }
.srch-inner a, 
.srch-inner a.btn-rslt {background: #294C97; padding:5px 20px; margin-left: 34px; color:#fff; border-radius: 8px;behavior : url(css/PIE-1.0.0/PIE.htc); font-size: 12px; text-decoration: none;} //0200


.info01{ width: 100%;}
.info01 .span-title {padding: 10px 8px; font-size: 12px; font-weight: bold;}
.info01 .info01-inner { background: #e9f4f2; padding: 8px 2px; border: 1px solid #ccc;}
.info01 .info01-inner table{ }
.info01 .info01-inner table tr td {width: 30%; padding:4px 0; border: 4px solid #e9f4f2; text-align: left;}
.info01 .info01-inner table tr td span{background: #b4d3d6; padding: 6px 15px;}
.info01 .info01-inner table tr td input {margin: 0 3px; vertical-align: middle}
.info01 .info01-inner table tr td select {vertical-align: middle}
.info01 .info01-inner table tr td img{ vertical-align: middle;}

.info01-wrap-0200{ width: 922px; height: 130px; background: #e9f4f2; margin-bottom: 25px; border: 1px solid #ccc; }

.info01-inner td img, 
.info02-inner td img, 
.info03-inner td img {vertical-align: middle; margin-bottom: 0px; margin-right: -20px;}

.btn0290 {float: right; margin-top: 25px; margin-right: 25px; padding: 5px 0;}
.btn0290 a {padding:5px 15px; background: #294C97; color:#fff; border-radius: 8px;behavior : url(css/PIE-1.0.0/PIE.htc); font-size: 12px; }


/* 0002 */

.srch-0002 {width:100%; min-width: 320px; height: auto}
.srch-0002 .srch-inner-0002 { overflow: hidden; margin: 0 auto;}
.srch-0002 .srch-inner-0002 ul {float:none; width: 100%; min-width: 320px; overflow:hidden}
.srch-0002 .srch-inner-0002 ul li {}
.srch-0002 .srch-inner-0002 ul li:first-child {width: 30%; margin: 2px 5px;}
.srch-0002 .srch-inner-0002 ul li input, 
.srch-0002 .srch-inner-0002 ul li select {width: 100%; margin-top:2px}
.srch-0002 .srch-inner-0002 ul li img {margin: 6px 1px;}

h4{width: 100%; min-width: 320px; background:#1E81A1;  font-size: 13px;  }

.info01-wrap-0002{width: 100%; min-width: 320px; height: auto; overflow: hidden; }
.info01-title1-0002{float: left; width:100%; min-width: 320px;}
.info01-inner01-0002{ background: #e9f4f2; padding: 5px; margin-bottom: 30px; border: 1px solid #ccc; }
.info01-inner01-0002 ul li {padding-bottom: 3px;}
.info01-inner01-0002 ul li input {width: 50%;}
.info01-inner01-0002 ul li select {width: 47%;}
.info01-inner01-0002 ul.sum {margin-top: 5px; border-top: 1px dashed #ccc;}
.info01-inner01-0002 ul.sum li:first-child {width: 50%;}
.info01-inner01-0002 ul.sum li input {width: 47%}
.info01-inner01-0002 ul.count li:first-child {float:left; width: 140px; height: 22px; margin-right:5px; background: #b4d3d6; text-align: center; line-height: 22px; }
.info01-inner01-0002 ul.count li input{vertical-align: middle}

.info01-title2-0002{float: none; width:100%; margin-left:0px;}
.info01-inner02-0002{background: #e9f4f2; padding: 5px; margin-bottom: 30px; border: 1px solid #ccc; overflow: hidden;}
.info01-inner02-0002 table {width:100%; }
.info01-inner02-0002 table td,
.info01-inner02-0002 table th, 
.info01-inner02-0002 table tfoot { padding: 1px; border: 1px solid #e9f4f2; text-align: center}
.info01-inner02-0002 table th {background: #b4d3d6; padding: 5px 0; }
.info01-inner02-0002 table input {width: 60%!important;}
.info01-inner02-0002 table td img {vertical-align: middle;}

.info02-wrap-0002{width: 100%; min-width: 320px; height: auto; overflow: hidden; }
.info02-title1-0002{float: none; width:100%; min-width: 320px}
.info02-inner01-0002{ padding: 0px;}
.info02-inner01-0002 table {width:100%; min-width: 320px; display: block}
.info02-inner01-0002 table tbody {width:100%; min-width: 320px; display: block; overflow: hidden}
.info02-inner01-0002 table tr,
.info02-inner01-0002 table td,
.info02-inner01-0002 table th,
.info02-inner01-0002 table tfoot { display: block; border-top: 2px solid #e9f4f2; border-bottom: 2px solid #e9f4f2; border-left: 4px solid #e9f4f2; border-right: 3px solid #e9f4f2;}
.info02-inner01-0002 table th { width: 30%; float: left;}
.info02-inner01-0002 table td { width: 60%; float: left}
.info02-inner01-0002 table input {width: 80%!important;}
.info02-inner01-0002 table select {width: 80%;}
.info02-inner01-0002 table td img {vertical-align: middle;}

.info02-title2-0002{float: none; width:100%; min-width: 320px; margin-left: 0px;}
.info02-inner02-0002{width:100%; min-width: 320px; padding: 0px }
.info02-inner02-0002 table {width:100%; min-width: 320px; display: block}
.info02-inner02-0002 table tbody {width:100%; min-width: 320px; display: block; overflow: hidden}
.info02-inner02-0002 table tr,
.info02-inner02-0002 table td,
.info02-inner02-0002 table th,
.info02-inner02-0002 table tfoot {display: block;border-top: 2px solid #e9f4f2; border-bottom: 2px solid #e9f4f2; border-left: 4px solid #e9f4f2; border-right: 3px solid #e9f4f2;}
.info02-inner02-0002 table th { width: 30%; float: left; }
.info02-inner02-0002 table td { width: 60%; float: left; }
.info02-inner02-0002 table input {width: 80% !important;}
.info02-inner02-0002 table select {width: 98%;}
.info02-inner02-0002 table td img {vertical-align: middle;}

.info03-wrap-0002 {width:923px; overflow: hidden;}
.info03-title-0002{float: left; width:100%; height: 160px;}
.info03-inner-0002{ height: 75px; background: #e9f4f2; padding: 8px 0 0 5px; margin-bottom: 30px; border: 1px solid #ccc; }
.info03-inner-0002 table {width:99%; }
.info03-inner-0002 table td,
.info03-inner-0002 table th,
.info03-inner-0002 table tfoot { padding: 1px; border: 5px solid #e9f4f2;}
.info03-inner-0002 table th {background: #b4d3d6; padding: 5px 0; }
.info03-inner-0002 table input {width: 98%; vertical-align: middle;}
.info03-inner-0002 table select {width: 98%; vertical-align: middle;}
.info03-inner-0002 table td img {vertical-align: middle;}


/* 1401 */
.srch-inner-1401 ul {float: left}
.srch-inner-1401 ul li { margin: 5px; vertical-align: middle; line-height: 18px;}

.info01-wrap-1401 {width: 100%;}
.info01-inner1-1401{ float:left; 400px; padding: 0px; }
.info01-inner1-1401 ul {margin-bottom: 5px; width: 500px;}
.info01-inner1-1401 ul li {line-height: 22px;}
.info01-inner1-1401 ul li:first-child {float:left; width: 140px; height: 26px; margin:5px 5px 0 0; background: #b4d3d6; text-align: center; line-height: 26px;}
.info01-inner1-1401 ul li input,
.info01-inner1-1401 ul li select {width: 210; margin: 5px 0 0;}

.info01-inner2-1401{ padding-left: 0px;}
.info01-inner2-1401 table {width:98%; margin-left: 0px; margin-bottom: 20px;}
.info01-inner2-1401 table tr {height: 34px}
.info01-inner2-1401 table td,
.info01-inner2-1401 table th {padding: 2px; border: 2px solid #e9f4f2;}
.info01-inner2-1401 table th {background: #b4d3d6; padding: 5px 0; }
.info01-inner2-1401 table input {width: 99%;}
.info01-inner2-1401 table select {width: 100%;}


/* 1402 */

.table1402 td {text-align: center!important}
.table1402 input {width:60% !important}
    
    
/* 1403 */
    
 .info1403-custom {margin:0!important}
 .info1403-custom .info02-inner01-0002 {padding:0!important}
 .info1403-money {width:100%!important}
.table1403{ }
.table1403 input{ }
    
    
/* 0070 */

.srch-0070 {width:100%; min-width: 320px;}
.srch-0070 .srch-inner-0070 {width:100%; min-width: 320px;}
.srch-0070 .srch-inner-0070 ul {width:100%; min-width: 320px;}
.srch-0070 .srch-inner-0070 ul li {}
.srch-0070 .srch-inner-0070 ul li:first-child {width: 30%}
.srch-0070 .srch-inner-0070 ul li input,
.srch-0070 .srch-inner-0070 ul li select {width: auto}
.srch-0070 .srch-inner-0070 ul li img {margin: 6px 2px 0; vertical-align: middle;}

.info01-wrap-0070{ width: 100%; min-width: 320px;}
.table0008,
.info02-inner-0070,
.info03-inner-0070{ width: 100%; min-width: 320px;padding: 0}
.table0008 table { display: block;}
.table0008 tbody { display: block;}
.table0008 table td,
.table0008 table th {display: block; float: left}
.table0008 table th {width: 30% }
.table0008 table td {width: 63% }
.table0008 table input {}
.table0008 table select {width: 100%;}
.info01-inner-0070 table img {vertical-align: middle;}
.info01-inner-0070 div.dash { margin:10px 2 20px; padding-top: 10px; border-top: 1px dashed #aaa;}

.info02-inner-0070 ul li{ float:left; width: ; margin-right: 10px; line-height: 22px;}
.info02-inner-0070 ul li:last-child { margin-right: 0;}
.info02-inner-0070 ul.data li span{display: block; width:100px; height: 22px; margin:10px 0px 0px; padding: 0 3px; background: #b4d3d6; text-align: center; line-height: 22px; }
.info01-inner2-0070{ /*display:none;*/ overflow: hidden; padding: 10px 0 0 5px; }
.info01-inner2-0070 table {width:99%; margin-left: 2px; margin-bottom: 10px;}
.info01-inner2-0070 table td,
.info01-inner2-0070 table th { padding: 2px; border: 4px solid #e9f4f2;}
.info01-inner2-0070 table th {background: #b4d3d6; padding: 5px 0; }
.info01-inner2-0070 table input {width: 99%; vertical-align: middle}
.info01-inner2-0070 table select {width: 100%; vertical-align: middle}

.info02-wrap-0070{ width: 922px; background: #e9f4f2; margin-bottom: 25px; padding:0 0 10px; border: 1px solid #ccc; }
.info02-inner-0070 table {width:99%; margin-left: 2px; margin-bottom: 10px;}
.info02-inner-0070 table td,
.info02-inner-0070 table th { padding: 2px; border: 4px solid #e9f4f2;}
.info02-inner-0070 table th {background: #b4d3d6; padding: 5px 0; }
.info02-inner-0070 table input {width: 99%; vertical-align: middle}
.info02-inner-0070 table select {width: 100%; vertical-align: middle}
.info02-inner-0070 table textarea {width: 100%}

.info03-wrap-0070{ width: 922px; background: #e9f4f2; margin-bottom: 25px; padding: 10px 0; border: 1px solid #ccc; }
.info03-inner-0070 table {width:98%; margin: 10px 0;}
.info03-inner-0070 table tr {height: 30px}
.info03-inner-0070 table td {background: #fff;}
.info03-inner-0070 table th {background: #b4d3d6; padding: 5px 0; }
.info03-inner-0070 table td,
.info03-inner-0070 table th { padding: 2px;}
.info03-inner-0070 table input,
.info03-inner-0070 table select { width: 100%;}

.btn0070 {width: 880px; margin:0; padding-bottom: 20px;}
.btn0070-1{width: 50px; margin: 0 auto;}


/* 3801-1 */

.srch-3801 {width:100%; background: #b4d3d6; padding: 10px 0; margin-bottom: 25px; border: 1px solid #b4d3d6;}
.srch-inner-3801,
.srch-inner-3801-7,
.info01-inner-3801,
.info02-inner-3801,
.info03-inner-3801,
.info04-inner-3801{ overflow: hidden;}
.srch-inner-3801 ul {float: left; width: 100%;}
.srch-inner-3801 li {float: left; line-height: 18px;}
.srch-inner-3801 li:first-child { padding: 2px 4px; vertical-align: middle; width: 50px; text-align: center;}
.srch-inner-3801 li input {vertical-align: middle; margin-right: 5px;}
.srch-inner-3801 li select{ margin-right: 20px;}

.info01-wrap-3801{ width:100%; background: #e9f4f2; margin-bottom: 25px; padding: 10px 0; border: 1px solid #ccc; }
.info01-inner-3801 {}
.info01-inner-3801 ul {float: left; width: 100%;}
.info01-inner-3801 ul li {float: left;}
.info01-inner-3801 ul li:first-child {width: 100px; background: #b4d3d6; margin: 0 3px; padding: 3px 0; text-align: center;}

.info01-inner-3801 table td {text-align:center}

.info02-wrap-3801,
.info03-wrap-3801,
.info04-wrap-3801{width:100%; background: #e9f4f2; margin-bottom: 35px; padding: 5px 0 0; border: 1px solid #ccc; }
.info02-inner-3801 table,
.info03-inner-3801 table,
.info03-inner-3801-7 table{ width: 99%; margin-left: 4px; margin-bottom: 15px;}
    
.info02-inner-3801 {overflow-x: scroll}

.info02-inner-3801 th,
.info03-inner-3801 th,
.info03-inner-3801-7 th {background: #b4d3d6;}
.info02-inner-3801 td,
.info03-inner-3801 td,
.info03-inner-3801-7 td {background: #fff; padding: 5px 0;}
.info02-inner-3801 td select{ width: 99%}
.info02-inner-3801 ul,
.info03-inner-3801 ul,
.info04-inner-3801 ul{ overflow: hidden; margin-bottom: 5px;}
.info02-inner-3801 ul li,
.info03-inner-3801 ul li,
.info04-inner-3801 ul li { float: left; vertical-align: middle; line-height: 18px; padding: 3px 0;}
.info02-inner-3801 ul li span,
.info03-inner-3801 ul li span,
.info04-inner-3801 ul li span{ display: inline-block; width: 120px; background: #b4d3d6; padding: 2px 0; text-align: center; margin-right: 6px;margin-left: 4px;}
.info02-inner-3801 ul li select,
.info02-inner-3801 ul li input[type="text"]{width: 135px; vertical-align: middle;}
.info02-inner-3801 ul li input[name="time"]{width: 50px; text-align: center;}

.info02-inner-3801>div{float: left;}

.info02-inner-3801 ul li select,
.info03-inner-3801 ul li input[type="text"],
.info03-inner-3801 ul li input[type="password"],
.info03-inner-3801 ul li select,
.info04-inner-3801 ul li input[type="text"],
.info04-inner-3801 ul li input[type="password"],
.info04-inner-3801 ul li select{ vertical-align: middle; text-align: center; margin: 0;}
.info02-inner-3801 ul li input[type="radio"]{ vertical-align: middle;}
.info02-inner-3801 ul li label {display: inline-block; vertical-align: middle;}

.info03-inner-3801 input, .info04-inner-3801 input{width: 95px;}

.ib-info {width:99%; margin-left: 2px; margin-bottom: 10px;}
.ib-info td, .ib-info th { padding: 2px; border: 4px solid #e9f4f2; background: none;}
.ib-info th {background: #b4d3d6; padding: 5px 0; }
.ib-info input {width: 99%; vertical-align: middle}
.ib-info select {width: 100%; vertical-align: middle}
.ib-info td a{ margin: 0 0 0 64px; vertical-align: middle}

.wd{ display: block; clear: both;width: 100%}
.wd ul { margin-top: 5px;}
.wd a, .info03-inner-3801 a { float: left; background: #005599; padding: 2px 10px; margin-left: 5px; color:#fff; font-size: 12px; border-radius: 3px; behavior : url(css/PIE-1.0.0/PIE.htc);}
.wd table { width: 97%; margin-top: 10px; margin-left: 4px;}

.wd2{ width: 38%; margin-left: 30px; padding-bottom: 5px; border: 1px solid #ccc;}
.wd2 ul {overflow: hidden; margin-top: 0px;}
.wd2 a { float: left; background: #005599; padding: 2px 10px; margin-left: 5px; color:#fff; font-size: 12px; border-radius: 3px; behavior : url(css/PIE-1.0.0/PIE.htc);}
.wd2 table { width: 97%; margin: 5px 0 0 4px;}

.account-select {position: relative;}
.info03-inner-3801 h4,
.info03-inner-3801-7 h4 { float: left; margin-left: 4px; margin-top: 30px; }
.info03-inner-3801 button{margin-top: 30px; margin-left: 5px; border: none; background: none;}

.more-ex{ display:none; position: absolute; left:180px; width: 400px; padding: 10px; background: #ffffcc; font-size: 11px; border: 1px solid #ccc; box-shadow: 3px 3px 5px #ccc; }

.info03-inner-3801 a { margin-bottom: 20px;}

.pop-cgid {width: 400px; background: #fff;}
.pop-cgid ul li{background: #005599; padding: 10px; color: #fff;}
.pop-cgid-inner {overflow: hidden; width: 100%}
.pop-cgid-inner .pop-input{ width: 97%; background: #b4d3d6; padding: 20px 0px 0px; margin: 5px; border: 1px solid #ccc}
.pop-cgid-inner .pop-input ul li{ display:inline-block; width: 95%; background: none; color: #000; text-align: center;}
.pop-cgid-inner .pop-input ul li span {color: #005599;}
.pop-cgid-inner .pop-input ul li a{ background: #005599; padding: 3px 10px; margin-left: 5px; color:#fff; border-radius: 5px; behavior : url(css/PIE-1.0.0/PIE.htc);}
.pop-cgid-inner .pop-noti{width: 97%; background: #e9f4f2; padding: 10px 0; margin: 5px; border: 1px solid #ccc;}
.pop-cgid-inner .pop-noti p{display: inline-block; width: 100%; text-align: center; font-size: 11px;}
.btn3801-pop{width: 50px; margin: 8px auto;}

.mr{margin-right: 20px; }
.srch-inner-3801-7 ul {float: left;}
.srch-inner-3801-7 li {float:left; line-height: 20px; padding: 0px 4px; vertical-align: middle;}
.srch-inner-3801-7 input,
.srch-inner-3801-7 select{ vertical-align: middle;}
.info02-wrap-3801-7 {overflow: auto; height: 200px; width:100%; background: #e9f4f2; margin-bottom: 35px; padding: 5px 0 0; border: 1px solid #ccc; }
.info03-wrap-3801-7 {width:100%; background: #e9f4f2; margin-bottom: 35px; padding: 5px 0 0; border: 1px solid #ccc;}
.info03-wrap-3801-7 input{width: 98%}

.info03-inner-3801-7 .wd50 {float: left; width: 100%;}


/* 0004 */
.srch-inner-0004 {overflow: hidden}
.srch-inner-0004 ul{ float: left; width: 100%; margin-left: 0px;}
.srch-inner-0004 li{ float: left; margin: 5px; line-height: 30px; }
.srch-inner-0004 li:first-child {margin-left:0; width:78px; line-height:32px; text-align:center;}
.srch-inner-0004 li input {margin: 4px 0;}

.info01-inner-0004 {width:100%; min-width: 320px;}
.info01-inner-0004 table {width:100%; min-width: 320px;margin: 0; padding: 0; display: block;}
.info01-inner-0004 table tbody {width:100%; min-width: 320px;display: block;overflow: hidden}
.info01-inner-0004 table tr {display: block; width: 100%; min-width: 320px;max-width: 686px;overflow: hidden}
.info01-inner-0004 table td,
.info01-inner-0004 table th { display: block; float: left}
.info01-inner-0004 table th {width: 30%; height:24px; margin: 0; line-height: 24px}
.info01-inner-0004 table th span {line-height: 24px}
.info01-inner-0004 table td {width: 60%;margin: 0; border: none;padding: 6px 0}
.info01-inner-0004 table input {width: 50%; vertical-align: middle; float: left}
.info01-inner-0004 table input#customer_qualf_sepa {width:55px!important}
.info01-inner-0004 table select {width: 49%; vertical-align: middle}
.info01-inner-0004 table img { vertical-align: middle; float: left}

.info02-wrap-0004 {width: 100vh; max-width: 100%; padding:0; overflow-x: scroll;}
.info02-inner-0004 table {width:920px; margin: 5px; margin-bottom: 5px;}
.info02-inner-0004 table td,
.info02-inner-0004 table th { padding: 2px; border: 4px solid #e9f4f2;}
.info02-inner-0004 table th { background: #b4d3d6; }
.info02-inner-0004 table td { text-align: center}
.info02-inner-0004 table input {width: 97%; vertical-align: middle}
.info02-inner-0004 table select {width: 100%; vertical-align: middle}
.info02-inner-0004 table img { vertical-align: middle}

.info03-wrap-0004{width: 922px; background: #e9f4f2; margin-bottom: 25px; padding: 10px 0; border: 1px solid #ccc;}
.info03-inner-0004 table {width:99%; margin: 5px; margin-bottom: 5px;}
.info03-inner-0004 table td,
.info03-inner-0004 table th { padding: 2px; border: 4px solid #e9f4f2;}
.info03-inner-0004 table th {background: #b4d3d6;}
.info03-inner-0004 table input {width: 90%; vertical-align: middle}
.info03-inner-0004 table select {width: 100%; vertical-align: middle}
.info03-inner-0004 table img { vertical-align: middle}
.info03-inner-0004 table a {background: #005599; padding: 5px 4px; color:#fff; font-size: 12px; border-radius: 5px;behavior : url(css/PIE-1.0.0/PIE.htc); line-height: 15px;}


/* 1701 */

.srch-inner-1701 table {width:100%; min-width: 320px; margin: 0px;display: block}
.srch-inner-1701 tbody {width:100%; min-width: 320px; display: block}
.srch-inner-1701 tr {width:100%; min-width: 320px; display: block; overflow: hidden}
.srch-inner-1701 table td,
.srch-inner-1701 table th { display: block; float: left}
.srch-inner-1701 table th {width: 30%}
.srch-inner-1701 table td {width: 60%}
.srch-inner-1701 table td img {vertical-align: middle}
.srch-inner-1701 table input {width: 85% !important; }
.srch-inner-1701 table select {width: 87%; }

.info01-inner-1701 table {width:100%; display: block; overflow: hidden}
.info01-inner-1701 thead {display: block;float: left;}
.info01-inner-1701 tbody {width:78%; display: block;}
.info01-inner-1701 table tr {display: block}
.info01-inner-1701 table td,
.info01-inner-1701 table th {display: block}
.info01-inner-1701 table td {}
.info01-inner-1701 table th {background: #b4d3d6;}
.info01-inner-1701 table input {width: 99%; vertical-align: middle}
.info01-inner-1701 table select {width: 100%; vertical-align: middle}
.info01-inner-1701 table img {vertical-align: middle}

.info01-inner-1701 table.content1701 {display: block; position: relative; width: 100%;}
.info01-inner-1701 table.content1701 thead {display: block; float: left;}
.info01-inner-1701 table.content1701 thead tr {display: block; min-width:106px}
.info01-inner-1701 table.content1701 thead th {width:100px; height:20px!important; line-height:20px}
.info01-inner-1701 table.content1701 tbody {display: block; width: auto; min-width:100px; position: relative; overflow-x: auto; white-space: nowrap;}
.info01-inner-1701 table.content1701 tbody tr {display: inline-block; vertical-align: top;}
.info01-inner-1701 table.content1701 tbody td {display: block; padding:5px 0; line-height:20px}
.info01-inner-1701 table.content1701 tfoot {display: block; float: right;}
.info01-inner-1701 table.content1701 tfoot tr {display: block;}
.info01-inner-1701 table.content1701 tfoot th {width:100px; height:20px!important; line-height:20px}
.info01-inner-1701 table.content1701 td{ margin: 0;}
.info01-inner-1701 div a{ float:right; background: #005599; padding: 5px 10px; margin:0 5px 5px 0; color:#fff; font-size: 12px; border-radius: 5px;behavior : url(css/PIE-1.0.0/PIE.htc); line-height: 15px;}


/* 0010 */

.srch-0010{ width:100%; background: #b4d3d6; padding: 5px 0; margin-bottom: 25px; }
.srch-inner-0010 table {width:99%; margin: 5px; margin-bottom: 5px;}
.srch-inner-0010 table td,
.srch-inner-0010 table th {text-align: right; padding: 2px; border: 2px solid #b4d3d6;}
.srch-inner-0010 table th {background: #b4d3d6;}
.srch-inner-0010 table td {text-align: left}
.srch-inner-0010 table input {width: 98%; vertical-align: middle}
.srch-inner-0010 table select {width: 100%; vertical-align: middle}
.srch-inner-0010 img, .srch-inner-0010 button {vertical-align: middle}

.info01-wrap-0010{width: 100%; min-width: 320px; overflow: hidden; }
.info01-title1-0010{float: none; width:100%; min-width: 320px}
.info01-inner01-0010{ height: auto; padding: 5px; }
.info01-inner01-0010 ul li {padding-bottom: 3px;}
.info01-inner01-0010 ul li input {width: 48%;}
.info01-inner01-0010 ul li select {width: 50%;}
.info01-inner01-0010 ul.sum {margin-top: 5px; border-top: 1px dashed #ccc;}
.info01-inner01-0010 ul.sum li:first-child {width: 48%}
.info01-inner01-0010 ul.count li:first-child {float:left; width: 140px; height: 22px; margin-right:5px; background: #b4d3d6; text-align: center; line-height: 22px; }
.info01-inner01-0010 ul.count li input{vertical-align: middle}
.info01-inner01-0010 table {width:99%; margin-top: px;}
.info01-inner01-0010 table td,
.info01-inner01-0010 table th { padding: 2px; border: 2px solid #e9f4f2;}
.info01-inner01-0010 table th {background: #b4d3d6;}
.info01-inner01-0010 table input {width: 100%; vertical-align: middle}

.info01-title2-0010{float: none; width:100%; min-width: 320px; margin-left: 0px;}
.info01-inner02-0010{ height: auto; background: #e9f4f2; padding: 0px; margin-bottom: 30px; border: 1px solid #ccc; }
.info01-inner02-0010 table {width:100%; min-width: 320px}
.info01-inner02-0010 table td,
.info01-inner02-0010 table th { padding: 1px; border: 5px solid #e9f4f2;}
.info01-inner02-0010 table th {background: #b4d3d6; padding: 2px 0; }
.info01-inner02-0010 table td {text-align: left}
.info01-inner02-0010 table input {width: 98%; vertical-align: middle;}
.info01-inner02-0010 table select {width: 98%; vertical-align: middle;}
.info01-inner02-0010 table td img {vertical-align: middle;}

.info01-inner03-0010{float: left; width:100%; min-width: 320px; height: auto; padding: 5px 0; margin-bottom: 25px }
.info01-inner03-0010 table {width:100%; margin: 0px;}
.info01-inner03-0010 table td,
.info01-inner03-0010 table th {padding: 2px; border: 4px solid #e9f4f2;}
.info01-inner03-0010 table td {text-align: left}
.info01-inner03-0010 table th {background: #b4d3d6;}
.info01-inner03-0010 table input {width: 99%; vertical-align: middle}
.info01-inner03-0010 table select {width: 100%; vertical-align: middle}
.info01-inner03-0010 table img {vertical-align: middle}
.info01-inner03-0010 table span.red {font-size: 11px; color:red}

.info02-wrap-0010{ width:100%;min-width: 320px;padding: 0;}
.info02-wrap-0010 table {width:100%;min-width: 320px; padding: 0; display: block}
.info02-wrap-0010 tbody {width:100%;min-width: 320px; display: block}
.info02-wrap-0010 tbody tr {width:100%;min-width: 320px; display: block}
.info02-wrap-0010 table td,
.info02-wrap-0010 table th {display:block; border:none; float:left;}
.info02-wrap-0010 table th {width:34%; padding:6px 0}
.info02-wrap-0010 table td {width:60%}


/* 0003 */
.info01-inner01-0003{ height: auto; background: #e9f4f2; padding: 0px 0 8px 5px; margin-bottom: 30px; border: 1px solid #ccc; }
.info01-inner01-0003 table {width:99%; margin-top: 8px;}
.info01-inner01-0003 table td,
.info01-inner01-0003 table th { padding: 2px; border: 2px solid #e9f4f2;}
.info01-inner01-0003 table th {background: #b4d3d6;}
.info01-inner01-0003 table input {width: 100%; vertical-align: middle}
.info01-inner01-0003 table select {width: 98%; vertical-align: middle;}

.info01-inner02-0003{ height: auto; background: #e9f4f2; padding: 06px 0px 6px 5px; margin-bottom: 30px; border: 1px solid #ccc; }
.info01-inner02-0003 table {width:100%; min-width: 320px; display: block}
.info01-inner02-0003 tbody {width:100%; min-width: 320px; display: block}
.info01-inner02-0003 table tr {width:100%; min-width: 320px; display: block; overflow: hidden}
.info01-inner02-0003 table td,
.info01-inner02-0003 table th { display: block; border: 4px solid #e9f4f2; float: left}
.info01-inner02-0003 table th { width: 30%;}
.info01-inner02-0003 table td { width: 64%;}
.info01-inner02-0003 table input {width:100%;}
.info01-inner02-0003 table select {width: 100%; margin: 4px 0;}


/* 0080 */

.account{ width: 100%;}
.account img{ width: 100%;}


/* 1099 */

.srch-1099 {width:100%; background: #b4d3d6; padding: 5px 0; margin-bottom: 25px;}
.srch-inner-1099 table{width:99%; display: block;}
.srch-inner-1099 tbody{width:99%; display: block;}
.srch-inner-1099 table tr{ display: block; overflow: hidden}
.srch-inner-1099 table td{ width: 65%}
.srch-inner-1099 table td,
.srch-inner-1099 table th { display: block; float: left}
.srch-inner-1099 table th { width: 30%; line-height: 2.3}
.srch-inner-1099 table input { }
.srch-inner-1099 table select {width: 100%; vertical-align: middle;}
.srch-inner-1099 table img {vertical-align: middle;}

.info01-wrap-1099 {width: 100%; min-width: 320px;}
.info01-inner-1099 {width: 100%; min-width: 320px}
.info01-inner-1099 table{margin-left: 0; width:100%;  display: block; position: relative;}
.info01-inner-1099 thead {display: block; float: left;}
.info01-inner-1099 thead tr {display: block;}
.info01-inner-1099 thead tr th {display: block; height:20px}
.info01-inner-1099 tbody {display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap;}
.info01-inner-1099 tbody tr {display: inline-block; vertical-align: top;width:100%}
.info01-inner-1099 tbody tr td {display: block; text-align:center; height:20px}
.info01-inner-1099 table input {width: 100%; vertical-align: middle}

.info02-inner-1099 {width:100%}
.info02-inner-1099 span {margin-bottom:2px}
.info02-inner-1099 span.sp {width:30%}
.info02-inner-1099 span input {width: 65%}

.info01-inner-1099 img {width: 100%;min-width: 320px; margin: 0; padding: 0}

/* 0008 */

.srch-inner-1099 span { color: #cc3300}
.info01-inner-1099 img { width: 100%; margin: 20px 0}

.info01-inner-0070 table a {background: #005599; padding: 5px 10px; color:#fff; border-radius: 5px;behavior : url(css/PIE-1.0.0/PIE.htc);}
.info01-inner-0070 table, .info02-inner-0070 table {display: block; width:100%;}
.info01-inner-0070 table th {padding: 7px 0}
.info01-inner-0070 table th, .info01-inner-0070 table td,
.info02-inner-0070 table th, .info02-inner-0070 table td {display: block; float: left; width: 48%; border:none; margin:2px 0}
.info01-inner-0070 table select {width:97%}
.info02-wrap-0070 {width:100%; padding:8px 0 0} 

.info01-wrap-0008 {overflow-y: scroll; width: 922px; height: 230px; background: #e9f4f2; margin-bottom: 25px; padding: 15px 0; border: 1px solid #ccc;}


/* 0231 */
.custom_table_0231 table{ width: 100%; min-width: 320px; display: block;}
.custom_table_0231 table tbody{ width: 100%; min-width: 320px; display: block; overflow: hidden}
.custom_table_0231 table tr{ width: 100%; min-width: 320px; display: block; overflow: hidden}
.custom_table_0231 table tr th {display: block; width: 30%; float: left}
.custom_table_0231 table tr td {display: block; width: 60%; float: left; padding: 0}
.custom_table_0231 table tr td input {width: 28%!important}
.custom_table_0231 table tr td select {width: 28%!important}

/* 1402 */
.info01-inner01-0010 table select {width: 100%;}
.info01-inner01-0010 table input {width: 100%;}
.info01-inner02-0010 a { float:right; background: #005599; margin:50px 5px; padding: 5px 10px; color:#fff; font-size: 11px; border-radius: 5px; behavior : url(css/PIE-1.0.0/PIE.htc);}

table.tbl1402 {margin-top: 15px;}